.newChatContainer {
  display: flex;;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.userPicker {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 5em;
  grid-auto-rows: 5em;
  gap: 2em;
}

.userCard {
  border: 1px solid black;
}

.active {
  color: blue;
}