.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15%;

  background-color: #06457f;
  color: white;
  border-bottom: 1px solid black;

  font-size: 1.2rem;
}

.header a {
  text-decoration: none;
  transition: all 0.15s ease-in;
  display: inline-block;
  padding: 0.5em;
}

.header a:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 194);
}

.rightHeader {
  display: flex;
  gap: 1em;
}

.container {
  display: flex;
  flex-grow: 1;

  background-color: #06457f;
  color: white;
  padding-top: 3em;
  min-height: 0;
}

.logOutButt {
  background: none;
  border: none;
  color: #e2b3b3;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.logOutButt:hover {
  transform: scale(1.05);
}

.chatContainerLoading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loader {
  font-weight: bold;
  font-size: 30px;
  background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content :"Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em;
    flex-direction: column;
  }

  .header a {
    padding: 0.2em 0.3em;
  }

  .leftHeader {
    font-size: 0.7em;
  }

  .rightHeader {
    gap: 0.5em;
  }

  .container {
    padding-top: 1em;
  }
}
