.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15%;

  background-color: #778873;
  color: #FDF6ED;
}

.header a {
  text-decoration: none;
}

.rightHeader {
  display: flex;
  gap: 2em;
}

.container {
  display: flex;
  flex-grow: 1;
}

.logOutButt {
  background: none;
  border: none;
  color: #DCCFC0;
}