.chatContainer {
  flex-grow: 1;
  margin: 0 20%;
}

.chatTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}