.profileContainer {
  display: flex;;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;

}

.profileHeader {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.profileData {
  display: flex;
  /* align-items: center; */
}

.profilePicture {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.displayName {
  margin-bottom: 1em;
}

.profilePicPlaceholder {
  width: 8em;
  height: 8em;
  border-radius: 80px;
  background-color: black;
  border: 1px solid black;
}

.changeProfilePicButton {
  border: none;
  background: none;
  cursor: pointer;
}

.profilePicPickerModal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  display: none;
  justify-content: center;
  align-items: center;
}

.profilePicPickerModal.isOpen {
  display: flex;
}

.profilePicPickerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.picPicker {
  display: flex;
  gap: 0.3em;
}

.picOption {
  width: 5em;
  height: 5em;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.modalClose {
  position: absolute;
  top: 12px;
  right: 12px;
  
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
  font-size: 24px;
  line-height: 1;
  color: #888888;
  transition: color 0.2s ease, transform 0.2s ease;
}

.modalClose:hover {
  color: #333333;
}
