.registerFormContainer {
  display: flex;
  flex-direction: column;
  margin: 10em auto;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerInput {
  width: 15rem;
  height: 1.8rem;
  margin-bottom: 5px;
}